.main {
    min-height: 100vh;
}

.main,
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    max-width: 500px;
    margin-top: 64px;
    
}

.card {
    width: 100%;
    background: var(--background-secondary);
    border-radius: 5px;
    padding: 64px;
}

.card h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
}

.card > .input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.clear-completed {
    margin-bottom: 8px;
}

.btn {
    display: block;
    width: 100%;
    padding: 3px 0;
    background-color: #29292e;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    
    cursor: pointer;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: #323238;
}